* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition-duration: 0.3s;
    scroll-behavior: smooth;
}

/*=============== acesso rápido ===============*/

.d-flex{
    display: flex;
}

.d-flex-evilin{
    display: flex;
    justify-content: space-evenly;
}

.centraliza{
    display: flex;
    justify-content: center;
}

.relativo{
    position: relative;
}

.altura{
    height: 100px;
}
/*=============== acabou acesso rápido ===============*/

/*=============== Fontes ===============*/

.letrinha{
    font-family: "Poppins", sans-serif;
}

.letrao1{
    font-family: "Bevan", serif;
}

.letrao2{
    font-family: "Abril Fatface", serif;
}

/*=============== acabou as fontes ===============*/

/*=============== Cabeçalho ===============*/

header{
    background-color: #000000;
}

header h1{
    color: #ffffff;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 2px;
}

/*=============== acabou Cabeçalho ===============*/

/*=============== frase impactante do site ===============*/
.imagem-fundo{
    background-image: url(../img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: bottom center;
    width: 100%;
    height: 600px;
}

.imagem-fundo p{
    text-align: end;
    font-size: 120px;
    color: #ffffff;
    line-height: 100px;

    margin-top: 100px;
}

.rosa1{
    color: #ff48b9;
}

.rosa2{
    color: #ff94d6;
}

.rosa3{
    color: #ffc5e9;
}

/*=============== acabou frase impactante do site ===============*/

/*=============== explicação do site ===============*/
.fundo-liso-rosa{
    background: linear-gradient(10deg, #ed35a6, #ff94d6);
}

.fundo-liso-rosa p{
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    color: #000000;

    margin-left: 180px;
    margin-right: 180px;
    margin-top: 130px;
    margin-bottom: 130px;
}

/*=============== acabou explicação do site ===============*/

/*=============== Insira os nomes ===============*/

.enfeite{
    height: 600px;
}

.fundo-liso-cinza{
    background-color: #606060;
}

.quadro-listrado{                      /* quadros ===============*/
    background-repeat: no-repeat;
    background-size: cover; 
    height: 310px;
    z-index: 1;

    left: 56px;
    right: 200px;
}

.quadro-liso{
    background: linear-gradient(200deg, #ff48b9, #ff94d6);
    height: 310px;
    width: 245px;
    z-index: 2;

    top: 40px;
    right: 356px;
}

.quadro-pessoa{
    height: 270px;
    z-index: 3;

    top: 40px;
    right: 150px;
}                               /* acabou quadros ===============*/


.conjunto-um{
    margin-left: 240px;
}

.input-um{
    margin-left: 300px;
    margin-top: 85px;
}

input{
    height: 40px;
    width: 240px;
    background-color: #4e4e4e;
    color: #ffffff;
    border-radius: 16px 0px 0px 16px;
    margin-left: -20px;
    border: solid 0.9px #393939;
}

.conjunto-dois{
    margin-left: -90px;
}

.input-dois{
    margin-left: -30px;
    margin-top: 85px;
}

.botao-sexo{
    height: 40px;
    width: 80px;

    border-radius: 0px 16px 16px 0px;
    border: none;
}

.genero-fe{
    background-color: #ff94d6;
    border: solid 0.9px #e77dbe;
}

.genero-fe:hover{
    background-color: #e77dbe;
}


.genero-ma{
    background-color: #7191f4;
    border: solid 0.9px #5977d2
}

.genero-ma:hover{
    background-color: #5977d2;
}

.gen{
    height: 35px;
}

.calcular{
    background-color: #ff48b9;
    color: #ffffff;
    border: none;
    border-radius: 16px;
    font-size: 25px;
    height: 70px;
    width: 160px;
    margin-top: 100px;
}

.calcular:hover{
    background-color: #d62e96;
}





/*=============== acabou Insira os nomes ===============*/

/*=============== resultado ===============*/

.fundo-resposta{
    background-image: url(../img/fundo-casal.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: bottom center;
    width: 100%;
    height: 810px;
}

#fundo-resposta {
    display: none;
}

.casasl{
    width: 100%;
    height: 810px;
    z-index: 1;

    left: 40px;

}

.por{
    color: #ff94d6;
    font-size: 200px;

    right: 780px;
    top: 250px;
}

.num{
    color: #ff48b9;
    font-size: 500px;
    letter-spacing: -20px;

    right: 700px;
    bottom: 100px;
}

.com{
    color: #ff48b9;
    font-size: 100px;
    z-index: 1;

    right: 1500px;
    top: 450px;
}

/*=============== acabou resultado ===============*/

/*=============== Comentarios ===============*/

footer{
    background-color: #000000;
}

footer > p{
    color:#ff48b9;
    font-size: 55px;
}

.quadro-comentario{
    background-color: #4e4e4e;
    border-radius: 15px;

    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 180px;
    margin-right: 180px;
}

.espaco{
    height: 20px;
}

.espaco2{
    height: 50px;
}

.quadro-comentario img{
    height: 75px;
    margin-left: 25px;
}

.comentario{
    color: #ffffff;
    font-size: 20px;

    margin-left: 30px;
    margin-right: 30px;
}


.nome{
    color: #ff48b9;

    font-size: 25px;
    margin-left: 20px;
}

.arroba{
    color:#aeaeae;
    margin-left: 20px;
    margin-top: -10px;
}




/*=============== acabou Comentarios ===============*/